region           = "us-ashburn-1"
oci_profile      = "DEFAULT"
tenancy_ocid     = "ocid1.tenancy.oc1..REPLACE_ME"
compartment_ocid = "ocid1.compartment.oc1..REPLACE_ME"

ssh_public_key_path = "~/.ssh/agent_nebula_oci.pub"

shape      = "VM.Standard.A1.Flex"
ocpus      = 2
memory_gbs = 12

boot_volume_size_gbs = 50
ssh_source_cidr       = "0.0.0.0/0"
create_swap           = false
